.output {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cointainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.input_in {
    margin: 10px 0px;
}